<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings />
    <client />
    <services>
      <service name="WebReminaServices.WebServices">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="restfulBehavior" contract="WebReminaServices.IServices">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8089/WebService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restfulBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
